/* Basic reset for consistent margins and paddings */
           
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--background);
    color: var(--foreground);
}


/*  When the body has display: flex;, 
    its children (header, footer, and main) become flex items. 
    Flex items do not expand to fill their container's width
    unless you explicitly set their width.
*/

main {
    margin: 0 5vw;
}

footer {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    padding: 20px;
    gap: 10px;
    width: 100%; /* Make the header and footer take full width */
}

header {
    background-color: var(--secondary);
    width: 100%; /* Make the header and footer take full width */
    display:flex; 
    justify-content: space-around;
    align-items: center;
    padding: 2.5vh 0;
}

div{
    background-color: inherit;
    font-size: 1.5rem;
}

header div,
footer div {
    padding: 10px;
    text-align: center;
    display: block;
}



h1 {
    color: var(--primary);
    font-size: 2.5rem;
    margin-top: 5vh;
    margin-bottom: 1.5vh;
}

h2 {
    font-family: 'OCR-A';
    color: var(--secondary-foreground);
}

h3 {
    font-weight: normal;
    font-size: 1.5rem;
}

h4 {
    color: var(--destructive);
}

a {
    color: var(--muted-foreground);
    font-weight: bolder;
}

article {
    margin-bottom: 40px;
    background-color: var(--accent);
    padding: 20px 40px;
    border-radius: 10px;
    color: var(--destructive);
}

blockquote {
    background-color: var(--foreground);
    border-left: 10px solid var(--muted);
    margin: 20px 0;
    padding: 10px 20px;
}

cite {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--primary);
}

p {
    color: var(--foreground);
}

.highlight {
    color: var(--primary);
}

.header-container h1 {
    font-size: 2.5em;
    color: var(--destructive);
    margin: 0;
    padding-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.toc {
    text-align: center;
    margin: 20px 0;
}

.toc a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: var(--muted);
    border-radius: 5px;
    color: var(--foreground);
    text-decoration: none;
}

.toc a:hover {
    background-color: var(--primary);
}

.final-section {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--muted);
    color: var(--foreground);
}

.final-section a {
    display: block;
    margin: 10px 0;
    color: var(--foreground);
    text-decoration: none;
    font-weight: bold;
}

.final-section a:hover {
    color: var(--accent);
}