
@font-face {
    font-family: 'Ambit Black';
    src: url('./fonts/Ambit-Black.woff2') format(woff2);
}

@font-face {
    font-family: 'Ambit Bold';
    src: url('./fonts/Ambit-Bold.woff2') format(woff2);
}

@font-face {
    font-family: 'Ambit Semibold';
    src: url('./fonts/Ambit-SemiBold.woff2') format(woff2);
}

@font-face {
    font-family: 'Ambit Regular';
    src: url('./fonts/Ambit-Regular.woff2') format(woff2);
}

@font-face {
    font-family: 'Ambit Light';
    src: url('./fonts/ambit-light.woff') format(woff2);
}

@font-face {
    font-family: 'Ambit Thin';
    src: url('./fonts/ambit-thin.woff') format(woff2);
}

body {
    font-family: 'Ambit Regular',
}

h1, h2 {
    font-family: 'Ambit Bold',
}


/* Ocultar el menú por defecto */
.menu {
    display: none; /* Ocultar */
    flex-direction: column; /* Alinear los elementos verticalmente */
    background-color: var(--amarillo); /* Fondo del menú desplegado */
    position: absolute; /* Para que flote */
    top: 60px; /* Debajo del header */
    right: 0;
    width: 200px; /* Ancho del menú */
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    text-align: center;
    margin: 1rem 0;
}

.menu a {
    text-decoration: none;
    color: var(--morado);
    font-weight: bold;
}

/* Icono de hamburguesa */
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--morado);
}

/* Menú visible (añadido con JS) */
.menu.active {
    display: flex; /* Mostrar el menú */
}
