
@font-face {
    font-family: 'Ambit Black';
    src: url('./fonts/Ambit-Black.woff2') format(woff2);
}

@font-face {
    font-family: 'Ambit Bold';
    src: url('./fonts/Ambit-Bold.woff2') format(woff2);
}

@font-face {
    font-family: 'Ambit Semibold';
    src: url('./fonts/Ambit-SemiBold.woff2') format(woff2);
}

@font-face {
    font-family: 'Ambit Regular';
    src: url('./fonts/Ambit-Regular.woff2') format(woff2);
}

@font-face {
    font-family: 'Ambit Light';
    src: url('./fonts/ambit-light.woff') format(woff2);
}

@font-face {
    font-family: 'Ambit Thin';
    src: url('./fonts/ambit-thin.woff') format(woff2);
}

body {
    font-family: 'Ambit Regular',
}

h1, h2 {
    font-family: 'Ambit Bold',
}
